* {
    padding: 0px;
    margin: 0px;
}

ul, ol {
    list-style: none;
}

a {
    color: black;
}

a:link, a:hover {
    text-decoration: none;
}

body {
    font-family: "微软雅黑";
    font-size: 16px;
}